footer.footer 
    div.footer__logo 
        img( src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav 
        li: a(href='#') About us

        li: a(href='#') Download app

        li: a(href='#') Become a guide

        li: a(href='#') Careers

        li: a(href='#') Contact

    p.footer__copyright &copy; The project is developed based on the Udemy course designed by Jonas Schmedtmann.